# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

bin/

*.exe
*.test
*.prof

.idea/
.tmp/
*.iml

nchain
nchain_api
nchain_consumer
nchain_migrate
nchain_reachabilitydaemon
nchain_statsdaemon

.gocore-id_rsa
.server.crt
.private.key

# Miscellaneous
.DS_Store

# Test/coverage artifacts
coverage.txt
profile.out

# Items generated for CI
src/
vendor/
